.leftSideNav{
	top:51px;
}
.rightSideNav{
	top:51px;
	width: 240px;
	background-color: #fff;
}
.notification{
	text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #9496a3;
    color: #fff;
}
.notification-item{
	padding: 5px;
	font-size: 1vw;	
	border-bottom: 1px dotted #000;
	line-height: 1rem;
	margin-top: 10px;
	-webkit-margin-bottom: 5px;
}
.notification-text{
	color: #000 !important;
}
.clear-notify{
	top: 10px;
	background-color: #9496a3 !important;
	width: 100% !important;
	color: #fff;
}
.space{
	flex: 1 1 auto;
}
.span{
	color: white;
	font-size: 15px; 
	padding: 1px;
	font-family: 'Raleway', sans-serif;
}
.md-button{
	border-bottom: 1px solid white; 
	margin-top: -5px;
}
span{
	color: white !important;	
	font-family: 'Raleway', sans-serif;
}
.md-button{
	width: 100%;
	text-align: justify;
	color: white;
	margin-bottom: 7px;
}
table{
	border-collapse: collapse;
	width: 100%;
	margin-top: -10px;
}
.border-bottom{
	border-bottom: 1px solid white;
}
td{
	padding: 5px;
	font-size: 9px;
	width: 55px; 
	text-align: center;
}
.border-right {
	border-right: 1px solid white;
}
md-toolbar{
	min-height: 50px;
	max-height: 50px;
	background-color: #9496a3;
}
:host /deep/ md-toolbar-row{
	height: 50px;
}
::ng-deep .mat-drawer-backdrop.mat-drawer-shown{
	/*visibility: hidden !important;*/
	background-color: rgba(0,0,0,0) !important;
}
::ng-deep .mat-menu-content{
	padding-bottom: 0px !important;
	background-color: #9496A3;
}
md-icon{
	color: white !important;	
}
md-sidenav{
	background-color: #9496a3;
}
.md-menu-item{
	line-height: 0.5px !important;
	height: 35px !important;
	text-align: left !important;
	font-size: 1vw !important;
	border-bottom: 1px solid white;
}
.md-menu-item-span{
	margin-left: -10px;
}
.menu-item-span{
	width: 150px !important;
	height:30px !important;
	padding: 10px !important;
	text-align: left !important;
	font-size: 1vw !important;
}
@media only screen and (max-width: 500px) {
    .hide-on-small-screens {
        display: none;
    }
}
@media screen and (min-width: 1441px) and (max-width: 1681px) {
	md-input-container{
		margin-top: 12px;
	    font-size: 15px;
	    color: white;
	    width: 250px;
	    margin-right: -5px;
	}
	.center{
		left:39%
	}
	.ls{
		display: none;
	}
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
	md-input-container{
		margin-top: 12px;
	    font-size: 15px;
	    color: white;
	    width: 175px;
	    margin-right: -5px;	
	}
	.center{
		left:39%
	}
	.ls{
		display: none;
	}
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
	md-input-container{
		margin-top: 12px;
	    font-size: 15px;
	    color: white;
	    width: 185px;
	    margin-right: -5px;
	}
	.center{
		left:39%
	}
	.ls{
		display: none;
	}
}
@media screen and (min-width: 881px) and (max-width: 1024px) {
	md-input-container{
		margin-top: 12px;
	    font-size: 15px;
	    color: white;
	    width: 120px;
	    margin-right: -5px;
	}
	.center{
		left:30%
	}
}
@media screen and (min-width: 750px) and (max-width: 880px) {
	md-input-container{
		margin-top: 12px;
	    font-size: 15px;
	    color: white;
	    width: 150px;
	    margin-right: -5px;
	}
	.center{
		left:39%
	}
	.ms{
		display: none;
	}
}
@media screen and (min-width: 601px) and (max-width: 749px) {
	md-input-container{
		margin-top: 12px;
	    font-size: 15px;
	    color: white;
	    width: 120px;
	    margin-right: -5px;
	}
	.center{
		left:39%
	}
	.ms{
		display: none;
	}
}
@media screen and (min-width: 461px) and (max-width: 600px) {
	md-input-container{
		margin-top: 12px;
	    font-size: 15px;
	    color: white;
	    width: 120px;
	    margin-right: -5px;
	}
	.center{
		left:39%
	}
	.ms{
		display: none;
	}
}
@media screen and (min-width: 400px) and (max-width: 460px) {
	md-input-container{
		margin-top: 12px;
	    font-size: 15px;
	    color: white;
	    width: 150px;
	    margin-right: -5px;
	}
	
}
@media screen and (min-width: 330px) and (max-width: 399px){	
	md-input-container{
		margin-top: 12px;
	    font-size: 15px;
	    color: white;
	    width: 120px;
	    margin-right: -5px;
	}
}
@media screen and (min-width: 300px) and (max-width: 329px){
	md-input-container{
		margin-top: 12px;
	    font-size: 15px;
	    color: white;
	    width: 95px;
	    margin-right: -5px;
	}
}