.title{	
	font-family: 'Raleway', sans-serif;
}
md-toolbar{
	font-family: 'Raleway', sans-serif;	
	background-color: #9496a3;
	color: white;
	min-height: 50px;
	max-height: 50px;
}
@media screen and (min-width: 1441px) and (max-width: 1681px) {
	.title{
		margin-top:-8px;
		margin-left:40%;
	}
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
	.title{
		margin-top:-8px;
		margin-left:35%;
	}
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
	.title{
		margin-top:-8px;
		margin-left:32%;
	}
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
	.title{
		margin-top:-8px;
		margin-left:35%;
	}
}
@media screen and (min-width: 569px) and (max-width: 800px) {
	.title{
		margin-top:-8px;
		margin-left:35%;
	}
}
@media screen and (min-width: 411px) and (max-width: 568px) {
	.title{
		margin-top:-8px;
		margin-left:28%;
	}
}
@media screen and (min-width: 301px) and (max-width: 410px) {
	.title{
		font-size:20px;
		margin-top:-8px;
		margin-left:20%;
	}
}
@media screen and (min-width: 200px) and (max-width: 300px) {
	.title{
		font-size:20px;
		margin-top:-8px;
		margin-left:18%;
	}
}