<div class="body-padding">
	<app-header></app-header>
	<md-card>
		<md-card-content>
			<a href="{{href}}">{{heading}}</a>
			<form class="form" [formGroup]="newPasswordForm" (ngSubmit)="savePassword(newPasswordForm.value)">
				<div>
					<md-icon>lock</md-icon>
					<md-input-container>			
						<input mdInput placeholder="New Password" name="password" type="password" minlength="6" formControlName="password" [formControl]="newPasswordForm.controls['password']">
						<md-error *ngIf="newPasswordForm.controls['password'].hasError('required')">
							Password is <strong>required</strong>
						</md-error>
						<md-error *ngIf="newPasswordForm.controls['password'].hasError('minlength')">
							Password length is minimum<strong>6</strong>
						</md-error>
					</md-input-container>
				</div>
				<div>
					<md-icon>lock</md-icon>
					<md-input-container>			
						<input mdInput placeholder="Confirm Password" name="confirmedPassword" type="password" [formControl]="newPasswordForm.controls['confirmedPassword']">
						<md-error *ngIf="newPasswordForm.controls['confirmedPassword'].hasError('required')">
							Confirm Password is <strong>required</strong>
						</md-error>
						<md-error *ngIf="newPasswordForm.controls['confirmedPassword'].hasError('minlength') && !newPasswordForm.controls['confirmedPassword'].hasError('required') || newPasswordForm.controls['confirmedPassword'].value != newPasswordForm.controls['password'].value && !newPasswordForm.controls['confirmedPassword'].hasError('required')">
							Password <strong>Mismatched</strong>
						</md-error>
					</md-input-container>
				</div>
				<md-card-actions>
					<button md-raised-button type="submit" [disabled]="!newPasswordForm.valid">Start Exploring</button>
				</md-card-actions>
			</form>
		</md-card-content>
	</md-card>
</div>