.forgot{
	font-size: 12px;
	line-height: 1.5em;
}
md-icon{
	color: gray;
}
md-checkbox{
	font-family: 'Raleway', sans-serif;	
	font-size: 12px;
}
@media screen and (min-width: 1441px) and (max-width: 1681px) {
	.right{
	margin-left:70%;
	}
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
	.right{
	margin-left:62%;
	}
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
	.right{
	margin-left:60%;
	}
}
@media screen and (min-width: 881px) and (max-width: 1024px) {
	.right{
	margin-left:77%;
	}
}
@media screen and (min-width: 750px) and (max-width: 880px) {
	.right{
	margin-left:67%;
	}
}
@media screen and (min-width: 601px) and (max-width: 749px) {
	.right{
	margin-left:60%;
	}
}
@media screen and (min-width: 461px) and (max-width: 600px) {
	.right{
	margin-left:60%;
	}
}
@media screen and (min-width: 400px) and (max-width: 460px) {
	.right{
	margin-left:50%;
	}
}
@media screen and (min-width: 361px) and (max-width: 399px) {
	.right{
	margin-left:45%;
	}
}
@media screen and (min-width: 351px) and (max-width: 360px) {
	.right{
	margin-left:42%;
	}
}
@media screen and (min-width: 300px) and (max-width: 350px) {
	.right{
	margin-left:35%;
	}
}