<div class="body-padding">
	<app-header></app-header>
	<md-card>
		<md-card-content>
			<a routerLink="/signin">Sign-In</a>
			<a class="pull-right" routerLink="/signup">Free Trial Sign up</a>
			<div>
				<form class="form" [formGroup]="signInForm" (ngSubmit)="signIn(signInForm.value)">	
					<div>
						<md-icon>email</md-icon>
						<md-input-container>		
							<input mdInput type="email" placeholder="Business Email*" [formControl]="signInForm.controls['userEmail']">
							<md-error *ngIf="signInForm.controls['userEmail'].hasError('pattern')">
	      						Please enter a valid email address
	    					</md-error>
	    					<md-error *ngIf="signInForm.controls['userEmail'].hasError('required')">
						      Business Email is <strong>required</strong>
						    </md-error>
						</md-input-container>
					</div>
					<div>
						<md-icon>lock</md-icon>
						<md-input-container>			
							<input mdInput placeholder="Password*" type="password" name="password" [formControl]="signInForm.controls['userPassword']">
							<md-error *ngIf="signInForm.controls['userPassword'].hasError('required')">
						      Password is <strong>required</strong>
						    </md-error>
						</md-input-container>
					</div>
					<div class="forgot">
						<md-checkbox>Remember me!</md-checkbox><br>					
						<a routerLink="/forgotpassword">Forgot your password?</a>
					</div><br>
					<md-card-actions>
						<button md-raised-button type="submit" [disabled]="!signInForm.valid">Login</button>
					</md-card-actions>
				</form>
			</div>
		</md-card-content>
	</md-card>
</div>