md-icon{
	color: gray;
}
@media screen and (min-width: 1441px) and (max-width: 1681px) {
	.right{
	margin-left:82%;
	}
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
	.right{
	margin-left:79%;
	}
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
	.right{
	margin-left:76%;
	}
}
@media screen and (min-width: 881px) and (max-width: 1024px) {
	.right{
	margin-left:77%;
	}
}
@media screen and (min-width: 750px) and (max-width: 880px) {
	.right{
	margin-left:81%;
	}
}
@media screen and (min-width: 601px) and (max-width: 749px) {
	.right{
	margin-left:76%;
	}
}
@media screen and (min-width: 461px) and (max-width: 600px) {
	.right{
	margin-left:75%;
	}
}
@media screen and (min-width: 400px) and (max-width: 460px) {
	.right{
	margin-left:70%;
	}
}
@media screen and (min-width: 351px) and (max-width: 399px) {
	.right{
	margin-left:65%;
	}
}
/* @media screen and (min-width: 351px) and (max-width: 360px) {
	.right{
	margin-left:65%;
	}
} */
@media screen and (min-width: 300px) and (max-width: 350px) {
	.right{
	margin-left:60%;
	}
}