<div class="body-padding">
	<app-header></app-header>
	<md-card>
		<md-card-content>
			<a routerLink="/forgotpassword">forgot your password?</a>
			<div>
				<form class="form" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword(forgotPasswordForm.value)">
					<div>
						<md-icon>email</md-icon>
						<md-input-container>		
							<input mdInput type="email" placeholder="Email*" [formControl]="forgotPasswordForm.controls['userEmail']">
							<md-error *ngIf="forgotPasswordForm.controls['userEmail'].hasError('pattern')">
	      						Please enter a valid email address
	    					</md-error>
	    					<md-error *ngIf="forgotPasswordForm.controls['userEmail'].hasError('required')">
						      Email is <strong>required</strong>
						    </md-error>
						</md-input-container>
					</div>
					<md-card-actions>
						<button md-raised-button type="submit" [disabled]="!forgotPasswordForm.valid">Request reset link</button>
					</md-card-actions>
				</form>
			</div>
			<div class="right">
				<a routerLink="/signin">Back to Sign in</a>
			</div>
		</md-card-content>
	</md-card>
</div>